<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>

<%= link_to 'Edit restaurant', edit_restaurant_path %>
<br>
<%= link_to 'retour', restaurants_path %>
